@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea {
    @apply border border-gray-300 rounded-md p-1;
  }

  button {
    @apply bg-blue-500 px-2 py-1 rounded-md text-white;
  }

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  h5 {
    font-size: 0.8rem;
  }
}
