@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea {
    @apply border border-gray-300 rounded-md p-1;
  }

  button {
    @apply bg-blue-500 px-2 py-1 rounded-md text-white;
  }
}